*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.main-content{
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: left;
    color: #333;
    font-family: Verdana;
    font-weight: 400;
}

.main-content .table-container{
    width: 100%;
    overflow: auto;
    height: 100%;
    overflow-x: hidden;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 12px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 18px;
    font-family: sans-serif;
    
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: 25px;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* Styles for mobile devices */
@media only screen and (max-width: 768px) {
    .main-content .table-container{
        width: 100%;
        margin-top: 5%;
        
    }

    table {
        border: 0;
        font-size: 16px;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table th,
    table td {
        padding: 7px;
    }

    table td:last-child {
        border-bottom: 0;
    }
    
    table tr:last-child {
        margin-bottom: 0;
    }
}