<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <!-- Left side links -->
        <div class="navigate">
        <a href="/">Home</a>
        <a href="#profile">Profile</a>
        <a href="#about">About Us</a>
        <a href="#contact">Contact Us</a>
        </div>
        <!-- Right side link (Logout button) -->
        <a href="/logout" class="right">Logout</a>
    </div>

    <!-- Page content -->
    <div class="new-quiz-button">
        <a class="quiz-button" href="/quiz" class="right">Start a New Quiz</a>
    </div>
    <div class="details-section">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>