<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar header">
        <!-- Left side links -->
        <div class="navigate">
        <a href="/">Home</a>
        <a href="#profile">Profile</a>
        <a href="#about">About Us</a>
        <a href="#contact">Contact Us</a>
        </div>
        <!-- Right side link (Logout button) -->
        <a href="/logout" class="right">Logout</a>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li><a href="/">Home</a></li>
            <li><a href="#profile" target="_blank">Profile</a></li>
            <li><a href="#about" target="_blank">About Us</a></li>
            <li><a href="#contact" target="_blank">Contact Us</a></li>
        </ul>
    </div>

    <!-- Page content -->
    <div class="new-quiz-button">
        <a class="quiz-button" href="/quiz" class="right">Start a New Quiz</a>
    </div>
    <div class="details-section">
        <div class="chart-box">
            <div class="large-column">
                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table id="statementTable">
                    <thead>
                        <tr>
                            <th scope="col">Topic</th>
                            <th scope="col">Your Score</th>
                            <th scope="col">Total Marks</th>
                            <th scope="col">Total Questions</th>
                            <th scope="col">Date and Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be added here by JavaScript -->
                    </tbody>
            </table>
        </div>
    </div>
    <footer>
        &copy; 2024 Musaraf Hossain. All rights reserved.
    </footer>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>