<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .form-inner {
            padding: 30px 30px 50px;
            border-radius: 15px;
            max-width: 500px;
            width: 100%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
    </style>
    <title>Forgot Password</title>
</head>
<body>
    <div class="form-inner">
        <form action="/forgot-password" method="post" class="login">
            <div class="field">
                <input type="text" placeholder="Email Address" required name="email">
            </div>
            {% if data %}
                <p class="err-msg">{{ data }}</p>
            {% endif %}
            <div class="field btn" style="width: 200px;">
                <div class="btn-layer"></div>
                <input type="submit" value="Forgot Password">
            </div>
    </div> 
</body>
</html>
