<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="profile-picture">
            <img src="{{ url_for('static', filename='image/profile.png') }}" alt="Profile Picture">
          </div>
          <h2 class="email">Email : {{email}}</h2>
          <h3 class="password">Password : {{password}}</h3>
          <a style="width: 120px;
                height: 20px;
                border-radius: 7px;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 20px;
                text-decoration: none;
                font-family: sans-serif;
                background: -webkit-linear-gradient(right,#004489,#004f9e,#0059b3, #0073e6);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;" href="/">Go Home</a>
        </div>
    </div>
</body>
</html>